
@{
    var successMessage = TempData["SuccessMessage"] as string;
}


<!DOCTYPE html>

<html>
<head>
    <title>TODO Login</title>

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
            var successMessage = '@successMessage';
            if (successMessage) {
                alert(successMessage);
            }
        });
    </script>

    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />

    <link rel="stylesheet" href="css/Eu.css" type="text/css" media="all" />



    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles", required: false)
    }

    @using System.Web.Optimization
    @Styles.Render("~/assets/css")
</head>
<body>


    <div>
        @RenderBody()
    </div>


    @Scripts.Render("~/assets/js")

    <script src="js/fontawesome.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
