<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <!--header-->
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark stroke">
                <h1>
                    <a class="navbar-brand" href="@Url.Action("Index","Home")">
                        Web service
                    </a>
                </h1>
                <!-- if logo is image enable this
                <a class="navbar-brand" href="#index.html">
                    <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                </a> -->
                <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                        data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav ml-auto mr-5">
                        <li class="nav-item">
                            @Html.ActionLink("Index", "Index", "Home", new { @class = ("nav-link") })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("About", "About", "Home", new { @class = ("nav-link") })
                        </li>
                        <li class="nav-item ">
                            @Html.ActionLink("Services", "Services", "Home", new { @class = ("nav-link") })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Contact", "Contact", "Home", new { @class = ("nav-link") })
                        </li>
                        <nav class="ml-lg-3">
                            <div class="search-bar">
                                <form action="#" method="GET" class="search">
                                    <input type="search" class="search__input" name="search"
                                           placeholder="Search here.." onload="equalWidth()" required>
                                    <span class="fa fa-search search__icon"></span>
                                </form>
                            </div>
                        </nav>
                    </ul>
                </div>
                <!-- toggle switch for light and dark theme -->

                <div class="mobile-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container py-1">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>
    <!--/header-->
</body>
</html>
